*.log
*.aux
*.pdf
*.dvi
*.bbl
*.blg
*.toc
*.idx
*.ilg
*.ind
*.c
_region_.prv/*
_region_.tex
CDR-IEEE-754-support.synctex.gz
cleqcmp.html
divz
*.out
*.tex~

# This is Emacs AUCTex generated stuff.
auto/